[
   {kernel, [

        {inet_dist_listen_min, 8088},

        {inet_dist_listen_max, 8088}

     ]},

     {rabbit, [

        {tcp_listeners, [8085]},

        {collect_statistics_interval, 10000},

        {heartbeat, 30},
        {cluster_partition_handling, autoheal}



 ]},

     {rabbitmq_management, [ {listener, [{port, 8086 }]} ] }


].
